@import url('https://fonts.googleapis.com/css?family=Karma');

* {
    font-family:'Karma';
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
header { 
    background-color: peachpuff;
    padding :10px;
    margin:0;
    justify-content: center;
    align-items: center;
}


footer{
    background-color: peachpuff;
    padding : 10px;
    margin: 0%;
    justify-content: center;
    align-items : center;
}



/** RESPONSIVE **/
/* Mobile */
@media screen  and (max-width : 600px) {
    section {
    flex-wrap: nowrap;
    flex-direction: column;
    }
    section a {
        width: 80%;
    }
}

/* Tablet */
@media only screen  and (min-width : 600px) and (max-width : 900px) {
    section a {
        width: 40%;
    }
}