section{
    display: flex;
    justify-content: center;
    align-items : center;
    text-align: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

header{
    text-align: left;
}

#competences{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

aside article{
    background-color: white;
    flex: 2;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#bloc{
    width:50%;
}

aside{
    background-color: white;
    width: 50%;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

#langues{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin:0
}

footer{
    height: 120px;
    width: 100%;
    background-color: rgb(161, 94, 106);
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items : center;

  
}
.partage{
    display: flex;
    flex-direction: row;
    background-color: rgb(161, 94, 106);
    margin: 10px;
    margin-top: 5px
}

