section{
    display: flex;
    justify-content: center;
    align-items : center;
    text-align: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

header{
    text-align: left;
}

footer{
    height: 100px;
    width: 100%;
    margin: 0%;
    background-color: rgb(161, 94, 106);
    background-repeat : no-repeat;
    background-position : right top;
    background-attachment : fixed;
    background-size : 100%;
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items : center;
    padding : 5px 10px;
  
}
.partage{
    display: flex;
    flex-direction: row;
    background-color: rgb(161, 94, 106);
}
