#article-1{ background-image: url("img/PhotoCV.jpg")}

article {
    height: 10%;

}

img {
    height: 300px;
}

body{
    justify-content: center;
    align-items : center;
    text-align: center;
}

footer{
    height: 100px;
    width: 100%;
    margin: 0%;
    background-color: rgb(161, 94, 106);
    background-repeat : no-repeat;
    background-position : right top;
    background-attachment : fixed;
    background-size : 100%;
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    align-items : center;
    padding : 5px 10px;
  
}
    