#article-1{ background-image: url("img/PhotoCV.jpg")}

article {
    height: 10%;
}

#ophelie {
    height: 300px;
}

body{
    justify-content: center;
    align-items : center;
    text-align: center;
}

header{ text-align: left;
}

